<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">
          <h1>A Blog Site</h1>
        </a>
        <p>My Site</p>
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blogs/create">New Blog</a></li>
        </ul>
      </div>
    </nav>
    <div class="blogs content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempore
        totam quae voluptatibus rerum repellendus, magnam provident et. Cum
        adipisci deserunt voluptates aperiam nostrum amet reprehenderit illo
        distinctio excepturi quae! Reprehenderit nobis sed natus porro sequi
        doloremque fugiat minima repellat illum repellendus laudantium
        dignissimos dolore, harum exercitationem tempora cumque repudiandae
        itaque optio distinctio totam, dolorem laborum nihil iste quasi?
        Nostrum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempore
        totam quae voluptatibus rerum repellendus, magnam provident et. Cum
        adipisci deserunt voluptates aperiam nostrum amet reprehenderit illo
        distinctio excepturi quae! Reprehenderit nobis sed natus porro sequi
        doloremque fugiat minima repellat illum repellendus laudantium
        dignissimos dolore, harum exercitationem tempora cumque repudiandae
        itaque optio distinctio totam, dolorem laborum nihil iste quasi?
        Nostrum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod tempore
        totam quae voluptatibus rerum repellendus, magnam provident et. Cum
        adipisci deserunt voluptates aperiam nostrum amet reprehenderit illo
        distinctio excepturi quae! Reprehenderit nobis sed natus porro sequi
        doloremque fugiat minima repellat illum repellendus laudantium
        dignissimos dolore, harum exercitationem tempora cumque repudiandae
        itaque optio distinctio totam, dolorem laborum nihil iste quasi?
        Nostrum.
      </p>
    </div>
  </body>
</html>
